* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(216, 20%, 95%);
  padding: 4rem;
}

.page-wrapper {
  background-color: hsl(20, 50%, 98%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  min-height: 100vh;
  padding: 4rem 4rem;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-family: "Red Hat Text", sans-serif;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product-list {
  flex: 3;
  min-width: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.cart-container {
  flex: 1;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.5rem;
  position: sticky;
  top: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 2.5rem 1.5rem;
  margin-top: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 100%;
  margin-bottom: 2.5rem;
}

.product-image {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 10rem;
  z-index: 10;
}

.add-to-cart-btn {
  background-color: white;
  border: 1px solid hsl(14, 65%, 9%);
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  border: 1px solid hsl(14, 86%, 42%);
}

.product-info {
  margin-top: 0.5rem;
}

.category {
  color: hsl(7, 20%, 60%);
  font-size: 0.875rem;
}

.name {
  font-weight: 600;
  margin: 0.25rem 0;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

.quantity-selector {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quantity-selector button {
  background: transparent;
  border: 1px solid hsl(20, 50%, 98%);
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

.quantity-selector button:hover {
  background-color: white;
}

.quantity-selector button:hover img {
  filter: invert(36%) sepia(85%) saturate(3088%) hue-rotate(345deg)
    brightness(91%) contrast(92%);
}

.quantity {
  font-weight: 600;
  font-size: 0.875rem;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5em 0;
}

.cart-empty img {
  width: 8rem;
  margin-bottom: 1rem;
}

.cart-empty p {
  color: hsl(7, 20%, 60%);
  font-weight: 600;
  font-size: 0.875rem;
}

.cart-content h2 {
  color: hsl(14, 86%, 42%);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid hsl(13%, 31%, 94%);
}

.cart-item-name {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cart-item-details {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.item-qty {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
}

.item-price {
  color: hsl(12, 20%, 44%);
  font-weight: 400;
}

.item-total {
  color: hsl(12, 20%, 44%);
  font-weight: 700;
}

.remove-item {
  background: transparent;
  border: 1px solid hsl(7, 20%, 60%);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.remove-item:hover {
  border: 1px solid hsl(14, 65%, 9%);
}

.remove-item:hover img {
  filter: brightness(0);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem 0;
  margin-bottom: 1.25rem;
}

.cart-total span:first-child {
  color: hsl(14, 65%, 9%);
  font-size: 0.75rem;
}

.total-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}

.carbon-neutral {
  align-items: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.carbon-neutral P {
  font-size: 0.75rem;
}

.confirm-btn {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-btn:hover {
  background-color: hsl(14, 65%, 29%);
}

/*@media (min-width: 768px) {
  .page-wrapper {
    padding: 2rem 1.5rem;
  }

  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .product-list {
    flex: 3;
  }

  .cart-container {
    flex: 1;
    position: sticky;
    top: 2rem;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1.5rem;
  }
}*/
