* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(216, 20%, 95%);
  padding: 4rem;
}

.page-wrapper {
  background-color: hsl(20, 50%, 98%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  min-height: 100vh;
  padding: 4rem 4rem;
}

.container {
  display: flex;
  flex-direction: row;
  font-family: "Red Hat Text", sans-serif;

  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product-list {
  flex: 3;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.cart-container {
  flex: 1;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.5rem;
  position: sticky;
  top: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 100%;
  margin-bottom: 2.5rem;
}

.product-image {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 10rem;
  z-index: 10;
}

.add-to-cart-btn {
  background-color: white;
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: hsl(14, 86%, 42%);
}

.product-info {
  margin-top: 0.5rem;
}

.category {
  color: hsl(7, 20%, 60%);
  font-size: 0.875rem;
}

.name {
  font-weight: 600;
  margin: 0.25rem 0;
}

.price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

.quantity-selector {
  background-color: hsl(14, 86%, 42%);
  color: white;
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quantity-selector button {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.quantity-selector button:hover {
  background-color: white;
}

.quantity-selector button:hover img {
  filter: brightness(0) saturate(100%) invert(34%) sepia(87%) secondary(42%)
    saturate(4681%) ue-rotate(349deg) brightness(91%) contrast(92%);
}

.quantity {
  font-weight: 600;
  font-size: 0.875rem;
}

/*@media (min-width: 768px) {
  .page-wrapper {
    padding: 2rem 1.5rem;
  }

  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .product-list {
    flex: 3;
  }

  .cart-container {
    flex: 1;
    position: sticky;
    top: 2rem;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1.5rem;
  }
}*/
